- name: Set the system timezone
  alliedtelesis.awplus.awplus_config:
    lines:
      - clock timezone {{ timezone }}
  when: timezone is defined and timezone | length > 0
  notify: "save config alliedtelesis"

- name: Delete the system timezone
  alliedtelesis.awplus.awplus_config:
    lines:
      - no clock timezone
  when: timezone is undefined or timezone | length == 0
  notify: "save config alliedtelesis"